html
  head
    title= Validate
    meta(charset="utf-8")
    meta(
      http-equiv="X-UA-Compatible"
      content="IE=edge")

    meta(
      name="viewport"
      content="width=device-width, initial-scale=1")

    link(
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous")

    link(
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous")

    script(
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous")


    script(
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous")



  body(class="container")

    - for (var j=0;j<gtdData.projects.length;j++)
      - var project = gtdData.projects[j]
      div(class="row")
        div(class="col-sm-12")
        div(class="panel " + (project.fields.is_new!=undefined ? "panel-success" : "panel-primary"))
          div(class="panel-heading")
            | Project: #{project.fields.name.value}
          div(class="panel-body")
            - for (var key in project.fields)
              - var field = project.fields[key]
              p(class=(field.source==1 ? "text-success" : "text-primary")) #{key} : #{field.value}
            - for (var k=0;k<project.comments.length;k++)
              - var comment = project.comments[k]
              div(class="panel " + (comment.source==1 ? "panel-success" : "panel-primary"))
                div(class="panel-heading")
                  | Note: #{marked(comment.data.name)}
                div(class="panel-body")
                  != marked(comment.data.body)
            - for (var i=0;i<project.tasks.length;i++)
                - var task = project.tasks[i]
                div(class="row")
                  div(class="col-sm-12")
                    div(class="panel " + (task.fields.id!=undefined ? "panel-success" : "panel-primary"))
                      div(class="panel-heading")
                        | Activity: #{task.fields.name.value}
                      div(class="panel-body")
                      - for (var key in task.fields)
                        - var field = task.fields[key]
                        p(class=(field.source==1 ? "text-success" : "text-primary")) #{key} : #{JSON.stringify(field.value)}
                      - for (var k=0;k<task.comments.length;k++)
                        - var comment = task.comments[k]
                        div(class="panel " + (comment.source==1 ? "panel-success" : "panel-primary"))
                          div(class="panel-heading")
                            | Note:
                          div(class="panel-body")
                            != marked(comment.data.body)
