extends template.pug

block title
  title Report

block meta
  meta(
    name="viewport"
    content="width=device-width, initial-scale=1")

block wizard
  include wizard.pug

block content

  div(class="row")
    div(class="col-sm-12")
      h1 Import complete
      p Your IQTell data has been imported into Nozbe.
      p <b>Warning: Activity recurrence is not imported. You should manually set the recurrence pattern on the imported tasks.</b>
      p.
        Completed activities are imported in the project named "Closed IQTell activities without project".
        Completed projects will have the open status in Nozbe. You should close them manually.

  div(class="row")
    div(class="col-sm-12")
      h2 Report:

      p The report below shows all changes to Nozbe projects and activities.

  - for (var j=0;j<gtdData.projects.length;j++)
    - var project = gtdData.projects[j]
    div(class="row")
      div(class="col-sm-12")
      div(class="panel " + (project.fields.is_new==undefined ? "panel-success" : "panel-primary"))
        div(class="panel-heading")
          | Project: #{project.fields.name.value}
        div(class="panel-body")
          - for (var key in project.fields)
            - var field = project.fields[key]
            if field.source==2
              p(class="text-primary") #{key} : #{field.value}
          - for (var k=0;k<project.comments.length;k++)
            - var comment = project.comments[k]
            if field.source==2
              div(class="panel panel-primary")
                div(class="panel-heading")
                  | Note: #{comment.data.name}
                div(class="panel-body")
                  //!= marked(comment.data.body)
                  pre #{comment.data.body}
          - for (var i=0;i<project.tasks.length;i++)
              - var task = project.tasks[i]
              div(class="row")
                div(class="col-sm-12")
                  div(class="panel " + (task.fields.is_new==undefined ? "panel-success" : "panel-primary"))
                    div(class="panel-heading")
                      | Activity: #{task.fields.name.value}
                    div(class="panel-body")
                    - for (var key in task.fields)
                      - var field = task.fields[key]
                      if field.source==2
                        p(class="text-primary") #{key} : #{JSON.stringify(field.value)}
                    - for (var k=0;k<task.comments.length;k++)
                      - var comment = task.comments[k]
                      if field.source==2
                        div(class="panel panel-primary")
                          div(class="panel-heading")
                            | Note:
                          div(class="panel-body")
                            //!= marked(comment.data.body)
                            pre #{comment.data.body}
